body {
  margin: 0px;
  padding: 0px;
}

.jumbotron {
  margin-top: -50px;
  background-color: blueviolet;
}

.container {
  margin-top: 2rem;
  padding: 2rem;
  background-color: blueviolet;
}

.stretch-1 {
  margin-left: 3rem;
}
