<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stretch-1.css">
  </head>
  <body>
      <div class="jumbotron text-center">
        <div class="container">
          <h1>
            <%= title %>
          </h1>
          <p>Team 2 - Activity 01</p>
        </div>
      </div>
      
      <!-- content -->
      <div class="stretch-1">
        <h1>Activities</h1>
        <a href="/">Home</a></br>
        <a href="activities">Activities List</a></br>
        <a href="stretch-1">Stretch 1 (CSS)</a></br>
        <a href="stretch-2">Stretch 2 (Write Form input to text input)</a></br>
        <a href="stretch-3">Stretch 3 (Add two number inputs together)</a></br>
      </div>
  </body>
</html>
