<!DOCTYPE html>
<html>
  <head>
    <% include ../includes/header.ejs %>
  </head>
  <body>
    <% include ../includes/nav.ejs %>
      <div class="jumbotron text-center">
        <div class="container">
          <h1>
            <%= title %>
          </h1>
          <p>Team 2 - Activity 02</p>
        </div>
      </div>
      <!-- add username form -->
      <div class="container">
        <form method="POST" action="/ta02/add-username">
          <input type="text" name="newUserName" placeholder="username">
          <input type="submit" value="Add User">
        </form>
        <!-- delete username form -->
        <form method="POST" action="/ta02/delete-username">
          <input type="text" name="deleteUserName" placeholder="Delete Name">
          <input type="submit" value="Delete">
        </form>
        <!-- display users -->
        <% if(users.length > 0){ %>
          <% for(i=0; i<numUsers; i++) {%>
            <div></div>
            <%= users[i]%>
          <%}} %>
      </div>
  </body>
</html>
